.navbar img{
  height: 50px;
}

.row-height100vh{
  min-height: 100vh;
}

.col-features{
  min-width: 300px;
}
.col-card{
  max-width: 300px;
  min-width: 300px;
}

@media(min-width: 320px){
  body{
    font-size: 16px;
  }
  .intro-text h1{
    font-size: 2em;
  }
  .intro-text h2{
    font-size: 1em;
  }
  .prettyH1{
    font-size: 1.2em;
  }
}
@media(min-width: 576px){
  body{
    font-size: 20px;
  }
  .intro-text h1{
    font-size: 2.5em;
  }
  
  .intro-text h2{
    font-size: 1.5em;
  }
  .prettyH1{
    font-size: 2em;
  }
}
@media(min-width: 768px){
  .intro-text h1{
    font-size: 3em;
  }
  
  .intro-text h2{
    font-size: 2em;
  }
  .prettyH1{
    font-size: 2.2em;
  }
}
@media(min-width: 992px){
  .intro-text h1{
    font-size: 3.5em;
  }
  
  .intro-text h2{
    font-size: 2.5em;
  }

  .prettyH1{
    font-size: 2.5em;
  }
}
@media(min-width: 1200px){
  .intro-text h1{
    font-size: 4em;
  }
  
  .intro-text h2{
    font-size: 3em;
  }

  .prettyH1{
    font-size: 2.8em;
  }
}
@media(min-width: 1400px){
  .intro-text h1{
    font-size: 5em;
  }
  
  .intro-text h2{
    font-size: 4em;
  }

  .prettyH1{
    font-size: 3em;
  }
}
/*****************************************************************/
body
{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  background-color: white;
  background-image: url('../img/gplaypattern.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
.musicControl
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 5px;
  cursor: pointer;
  font-size: 1.5em;
  background: #dc3545;
  color: white;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  z-index: 100;
}
.musicControl p
{
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.musicControl:hover p
{
  color: black;
}
#stopMusic
{
  display: none;
}
nav
{
  background-color: #dc3545;
  border-bottom: 6px solid black;
}
.nav-link
{
  color: white;
}
.nav-link:hover
{
  color: white;
}
.show .offcanvas-body ul li a
{
  color: black;
}
.offcanvas-end.show > .offcanvas-body .nav-link.active
{
  color: white;
  background-color: #dc3545;
}
.intro
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text h1
{
  font-size: 4em;
  font-weight: 900;
  background-color: #dc3545;
  color: white;
  padding: 2.5% 2.5%;
  letter-spacing: 8px;
  border-radius: 20px;
  margin: 5% 0;
  text-align: center;
}
.intro-text h2
{
  font-size: 3em;
  font-weight: 900;
  color: #dc3545;
}
.description
{
  color: white;
  background-color: #dc3545;
  padding: 5% 5%;
  border-radius: 20px;
}
.description h1
{
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 2.5%;
  border-radius: 10px;
  font-size: 50px;
}
.description p
{
  margin-top: 5%;
}
.tasks
{
  background-color: #dc3545;
  color: white;
  padding: 5% 5%;
  border-radius: 20px;
}
.tasks h1
{
  text-transform: uppercase;
  font-size: 50px;
}
.task_card
{
  border: 2px solid white;
  padding: 2.5% 2.5%;
  border-radius: 5px;
  margin: 2.5% 0;
}
.tasks ul li
{
  text-transform: uppercase;
  padding-bottom: 2.5%;
}
.tasks ul hr
{
  height: 3px;
}
.plus_wrapper
{
  margin-top: 25%;
}
.plus
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plus h1
{
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  background-color: #dc3545;
  color: white;
  box-shadow: -8px 8px 0 rgb(0, 0, 0);
  padding: 2.5% 2.5%;
  letter-spacing: 8px;
  border-radius: 20px;
}
.plus ul
{
  padding: 0;
}
.plus ul li
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10% 0;
  font-size: 30px;
  text-transform: uppercase;
  border: 4px solid black;
  font-weight: bolder;
  text-align: center;
  border-radius: 60px;
  padding: 5% 5%;
}
.plus ul li img
{
  width: 15%;
  margin-right: 20%;
}
.calculation
{
  margin: 30% 0;
  padding: 5% 5%;
  background-color: #dc3545;
  border-radius: 15px;
}
.calculation h1
{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5%;
  font-size: 50px;
}
.calculation form
{
  display: flex;
  justify-content: space-between;
}
.calculation_parameters
{
  width: 50%;
  max-width: 50%;
}
.select_parameters
{
  margin-bottom: 15%;
}
.select_parameters select
{
  margin: 10% 0;
  border: unset;
  border-bottom: 2px solid white;
  border-radius: 0px;
  background-color: unset;
  color: white;
}
.select_parameters select:hover
{
  cursor: pointer;
}
.select_parameters select:focus
{
  background-color: white;
  color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-image: url("/img/arrow_down_black.png");
}
.select_parameters select:focus > option
{
  color: black;
}
.input_parameters input
{
  background-color: unset;
  border: 1px solid white;
  margin: 10% 0;
}
.input_parameters label
{
  color: white;
}
.input_parameters input[onchange]
{
  height: 60px;
  color: white;
}
.input_parameters input[onchange]:focus
{
  color: black;
}
.input_parameters input:focus+label
{
  color: black;
}
.final_check
{
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.final_check h3
{
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 15px;
  font-weight: bolder;
  margin: 10% 0;
}
.final_check p
{
  padding: 5% 5%;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 36px;
  text-align: center;
}
.contact
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h1
{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  background-color: #dc3545;
  color: white;
  box-shadow: -8px 8px 0 rgb(0, 0, 0);
  padding: 2.5% 2.5%;
  letter-spacing: 8px;
  border-radius: 20px;
  margin-bottom: 5%;
}
.card{
  height: 530px;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.363);
  background-color: white;
  color: black;
  margin: 20% 0;
  padding: 5% 10%;
  border-radius: 5px;
}
.card-body
{
  color: black;
}
.card-img-container{
  height: 380px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.card img
{
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.card-icons{
  font-size: 30px;
  color: #dc3545;
  text-decoration: none;
  margin: 0 2.5%;
  transition: all 0.2s ease-in-out;
}
.card img[alt="Богдан"]
{
  max-width: 100%;
  max-height: 90%;
  object-fit: scale-down;
}
#card_bog
{
  height: 560px;
}
.card:hover
{
  background-color: #dc3545;
  box-shadow: -19px 14px 0 black;
  cursor: pointer;
}
.card:hover .card-icons
{
  color: white;
}
.card:hover .card-body
{
  color: white;
}
.card:hover img
{
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
}
.card-icons:hover
{
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}
.footer
{
  margin-top: 20%;
  padding-top: 5%;
  background-color: #dc3545;
  color: white;
  font-size: 0.8em;
}
.footer-icons{
  font-size: 30px; 
  margin: 5% 2.5%;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
.mail form
{
  margin: 6% 0;
}
.support a
{
  margin: 4% 0;
}
.footer-form{
  max-width: 400px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.2s ease-in-out;
}
.footer-icons:hover
{
  color: black;
  transform: scale(1.3);
}
.footer-form:focus
{
  color: black;
  
}
.btn-outline-light:hover
{
  transition: all 0.2s ease-in-out;
}
.btn-outline-light:focus, .btn-outline-light:active
{
  box-shadow: none;
}